<div class="panel panel-default">
	<div class="panel-heading">
		<form class="form-inline" ng-submit="vm.searchItems(category, vm.query)">
			<div class="form-group">
				<select
					class="form-control"
					ng-model="category"
					ng-options="option as option.name for option in vm.categories track by option.key">
					<option value="" disabled>Category</option>
				</select>
			</div>

			<div class="form-group">
				<select
					class="form-control"
					ng-model="vm.query.shopcategory"
					ng-options="option.key as option.name for option in category.shopcategories track by option.key">
					<option value="" disabled>Subcategory</option>
				</select>
			</div>

			<div class="form-group">
				<select
					class="form-control"
					ng-model="vm.query.tier"
					ng-options="option.key as option.name for option in vm.tiers track by option.key">
					<option value="" disabled>Tier</option>
				</select>
			</div>
			<button type="submit" class="btn btn-success" ng-disabled="!category">Search</button>
		</form>
	</div>

	<div class="panel-body">
		<div class="list-group">
			<input type="text" class="form-control margin-verticle" ng-model="vm.filter" placeholder="filter"/>
			<a ui-sref="items.item({category: category.key, id: item._id})"
				class="list-group-item"
				ng-repeat="item in vm.items | filter:{uniquename: vm.filter}"
				ng-bind="::item.uniquename">
			</a>
		</div>
	</div>
</div>
