<div class="panel panel-default">
	<div class="panel-heading">
		<h5>Maps</h3>
	</div>
	<div class="panel-body">
		<div class="list-group">
			<input type="text" class="form-control margin-verticle" ng-model="vm.filter" placeholder="filter"/>
			<select
				class="form-control"
				ng-model="vm.mapId"
				ng-change="vm.$state.go('maps.map', {id: vm.mapId})"
				ng-options="w._id as w.displayname for w in vm.world | filter:{displayname: vm.filter} | orderBy: 'displayname'">
				<option value="" disabled>Select Map</option>
			</select>
		</div>
	</div>
</div>
