<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed" ng-init="isCollapsed = true" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Albion Online DB</a>
		</div>
		<div id="navbar" uib-collapse="isCollapsed" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a ui-sref="home">Home</a></li>
				<li><a ui-sref="items">Items</a></li>
				<li><a ui-sref="maps">Maps</a></li>
			</ul>
		</div>
	</div>
</nav>
